In [1]:
import pandas as pd

## Load text data

In [2]:
sms = pd.read_csv('SMSSpamCollection', sep = '\t', names = ['label','messages'])

In [3]:
sms.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

#### from nltk.stem import  WordNetLemmatizer ==>  Lemmatization
#### from nltk.stem.porter import PorterStemmer ==>  Stemming

- lemmatization gives meaningful words
- stemming gives wors with no meaning
- we use lemmatization in this case

In [8]:
import nltk
import re
from nltk.stem import  WordNetLemmatizer  
from nltk.corpus import stopwords

In [9]:
wnl = WordNetLemmatizer()

In [41]:
corpus_data = []
for i in range(0,len(sms)):
    
    # except word contain char a-zA-Z all other special char and numbers get removed
    view = re.sub('[^a-zA-Z]',' ',sms['messages'][i])
    
    # all data in messages columns convert into lower case
    view = view.lower()
    
    # split text into words
    view = view.split()
    
    # remove stopwords and then convert remaining simailar words into single meaingful word
    view = [wnl.lemmatize(vi) for vi in view if vi not in set(stopwords.words('english'))]
    
    # join words and make one again text messages
    view = ' '.join(view)
    
    # append that messages into corpuss_data list
    corpus_data.append(view)

In [14]:
len(corpus_data)

5572

##### Numeric converter there are two methods
##### 1. Bag Of Word
##### 2. TF-IDF

## Creating Bag-Of-Words model

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv = CountVectorizer(max_features=2500)

In [17]:
X = cv.fit_transform(corpus_data).toarray()  # independent variable   # transform words into numeric values

In [23]:
X.shape

(5572, 2500)

In [18]:
y = sms['label']  # dependent variable  # here we have categorical values in label

In [28]:
y = pd.get_dummies(sms['label'], drop_first=True)  # creating dummies for spam and ham into for better understanding
                                                   # and remove any one column

In [30]:
y.head()  # for 0 : ham , 1 : spam

   spam
0     0
1     0
2     1
3     0
4     0

## Split data into train and test

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state = 0)

In [34]:
x_train.shape

(4457, 2500)

# Model Building
### Multinomial from naive bayes 
- For Text data Multinomial algo works well

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [35]:
mnb = MultinomialNB()

In [36]:
mnb.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MultinomialNB()

In [37]:
y_pred = mnb.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [43]:
print("Model Accuracy : ",accuracy_score(y_test,y_pred))

Model Accuracy :  0.9829596412556054

In [49]:
print("Confusion Matrix : ")
confusion_matrix(y_test,y_pred)

Confusion Matrix :

array([[946,   9],
       [ 10, 150]], dtype=int64)